@page "/coursedetail/{CourseTitle}"
@using System.Globalization
@using landing.Components.CourseDetail

<main>
<CourseDetailHeader course="@course"/>

<section class="pb-0 py-lg-5">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 py-3">
						<ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 @tabs[0].ToString()" @onclick='()=>ChangeQueryTab("")' id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="false">Ma'lumot</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 @tabs[1].ToString()" @onclick='()=>ChangeQueryTab("instructor")' id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-2" type="button" role="tab" aria-controls="course-pills-2" aria-selected="false">Instruktor</button>
							</li>
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 @tabs[2].ToString()" @onclick='()=>ChangeQueryTab("register")' id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false">Ro'yxatdan o'tish</button>
							</li>
							<!-- Tab item -->
							
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane @tabs[0].ToString()" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Course detail START -->
								<CourseOverview course="@course"/>
								<!-- Course detail END -->
							</div>
							
							<!-- Content START -->
							<div class="tab-pane mx-4 @tabs[1].ToString()" id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
								<!-- Card START -->
								<InstructorInfo instructor="@instructor" CoursesCount="@courses.Count().ToString()"/>
								<!-- Another courses-->
								<div class="row">
									<div class="col-12">
										<div class="card border bg-transparent rounded-3 ">
											<!-- Card header START -->
											<div class="card-header bg-transparent border-bottom ">
												<h4 class="mb-2 mb-sm-0 text-center">Boshqa kurslar</h4	>
											</div>
											<div class="card-body">
												<div class="table-responsive-lg border-0 rounded-3">
													<table class="table table-dark-gray align-middle p-4 mb-0">
														<thead>
															<tr>
																<th scope="col" class="border-0 rounded-start text-center">Kurs nomi</th>
																<th scope="col" class="border-0 text-center">Narx</th>
																<th scope="col" class="border-0 text-center">Davomiyligi</th>
																<th scope="col" class="border-0 rounded-end text-center">Ro'yxatdan o'tish</th>
															</tr>
														</thead>
														@{
															var format = CultureInfo.CreateSpecificCulture("uz-Latn-Uz").NumberFormat;
															format.CurrencyPositivePattern = 3;
														}
														<tbody>
															@foreach(Course courseItem in PaginatedCourses)
															{
																<tr>
																	<td>
																		<a href="/coursedetail/@courseItem.Title" onclick="ButtonClick('course-pills-tab-1')">
																			<div class="d-flex align-items-center">
																				<div class="w-100px w-md-60px">
																					<img src="assets/images/courses/@courseItem.BannerId" class="rounded" alt="">
																				</div>
																				<h6 class="mb-0 ms-2">	
																					@courseItem.Title
																				</h6>
																			</div>
																		</a>
																	</td>
																	<td class="text-center"><strong>@courseItem.CostInUzs.ToString("C0", format)</strong></td>
																	<td class="text-center">
																		<span class="badge bg-primary bg-opacity-10 text-primary"><strong>@courseItem.CourseDuration</strong> oy</span>
																	</td>
																	<td class="text-center">
																		<a href="/coursedetail/@courseItem.Title?tab=register" onclick="ButtonClick('course-pills-tab-3')" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
																	</td>
																</tr>
															}
														</tbody>
													</table>
												</div>

												<!-- Pagination -->
												<div class="d-sm-flex align-items-sm-center mt-3">
													<ul class="pagination pagination-sm pagination-primary-soft mb-0 pb-0" style="margin: auto;">
														<li class="page-item mb-0"><a class="page-link" type="button" @onclick='()=>GetPaginatedCourses(-1)' tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
														@for(int i = 1; i <= (courses.Count()+2)/3;i++)
														{
															var page = i;
															if(i == paginatedCount){
																<li class="page-item mb-0 active"><button class="page-link" @onclick="(()=>GetPaginatedCourses(page))">@i</button></li>
															}
															else{
																<li class="page-item mb-0"><button class="page-link" @onclick='(()=>GetPaginatedCourses(page))'>@i</button></li>
															}
														}
														<li class="page-item mb-0 "><button class="page-link" @onclick='()=>GetPaginatedCourses(0)'><i class="fas fa-angle-right"></i></button></li>
													</ul>
												</div>
											</div>
											<!-- Card body START -->
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane @tabs[2].ToString()" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<RegisterTab course="@course" connectionString="@connection.RegisterConnection"/>
							</div>
						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<ImageCourseInfo course="@course" tabName="@tab.ToString()"/>

						<CourseInfoCard Course = "@course"/>
					</div>
				</div>
			</div>
			<!-- Right sidebar END -->
		</div>
	</div>
</section>
</main>