@page "/coursedetail/{CourseTitle}"

<main>
<section class="bg-light py-0">
	<div class="container">
		<div class="row py-4">
			<div class="col-lg-8">
				<div class="col md-6">
				<h6 class="mb-3 font-base bg-primary text-white py-2 px-4 rounded-2 d-inline-block">@course.Tag</h6>
				@* <button class="btn btn-outline-primary mx-9 " onclick="history.back()">Go Back</button> *@
				</div>
				<!-- Title -->
				<h2>@course.Title</h2>
				<p>Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do.</p>
				
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page intro END -->

<!-- =======================
Page content START -->
<section class="pb-0 py-lg-5">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 py-3">
						<ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="false">Overview</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false">Instructor</button>
							</li>
							<!-- Tab item -->
							
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Course detail START -->
								<h5 class="mb-3">Kurs haqida</h5>
								<p class="mb-3"><strong>@course.Title</strong> kursiga xush kelibsiz!</p>
								<p class="mb-3">In this practical hands-on training, you’re going to learn to become a digital marketing expert with this <strong> ultimate course bundle that includes 12 digital marketing courses in 1!</strong></p>
								<p class="mb-3">If you wish to find out the skills that should be covered in a basic digital marketing course syllabus in India or anywhere around the world, then reading this blog will help. Before we delve into the advanced <strong><a href="#" class="text-reset text-decoration-underline">digital marketing course</a></strong> syllabus, let’s look at the scope of digital marketing and what the future holds.</p>
								<p class="mb-0">We focus a great deal on the understanding of behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn’t going to get the job done so that’s why this course is packed with practical hands-on examples that you can follow step by step.</p>
								
								<!-- List content -->
								<h5 class="mt-4">Nimalarni o'rganasiz?</h5>
								<div class="row mb-3">
									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Digital marketing course introduction</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Customer Life cycle</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>What is Search engine optimization(SEO)</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Facebook ADS</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Facebook Messenger Chatbot</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Search engine optimization tools</li>
										</ul>
									</div>

									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Why SEO</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>URL Structure</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Featured Snippet</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>SEO tips and tricks</li>
											<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Google tag manager</li>
										</ul>
									</div>
								</div>

								<p class="mb-0">As it so contrasted oh estimating instrument. Size like body someone had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted. Lively use looked latter regard had. Do he it part more last in. </p>
								<!-- Course detail END -->

							</div>
							
							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<!-- Card START -->
								<div class="card mb-0 mb-md-4">
									<div class="row g-0 align-items-center">
										<div class="col-md-5">
											<!-- Image -->
											<img src="assets/images/avatar/05.jpg" class="img-fluid rounded-3" alt="instructor-image" style="height: 5cm;width:5cm;">
										</div>
										<div class="col-md-7">
											<!-- Card body -->
											<div class="card-body">
												<!-- Title -->
												<h3 class="card-title mb-0">Wahid Abduhakimov</h3>
												<p class="mb-2">.Net Mentor</p>
												<!-- Social button -->
												<ul class="list-inline mb-3">
													<li class="list-inline-item me-3">
														<a href="#" class="fs-5 text-twitter"><i class="fab fa-twitter-square"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a href="#" class="fs-5 text-instagram"><i class="fab fa-instagram-square"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a href="#" class="fs-5 text-facebook"><i class="fab fa-facebook-square"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a href="#" class="fs-5 text-linkedin"><i class="fab fa-linkedin"></i></a>
													</li>
													<li class="list-inline-item">
														<a href="#" class="fs-5 text-youtube"><i class="fab fa-youtube-square"></i></a>
													</li>
												</ul>

												<!-- Info -->
												<ul class="list-inline">
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></span>
															<span class="h6 fw-light mb-0 ms-2">9.1k</span>
														</div>
													</li>
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></span>
															<span class="h6 fw-light mb-0 ms-2">4.5</span>
														</div>
													</li>
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-danger bg-opacity-10 text-danger rounded-circle"><i class="fas fa-play"></i></span>
															<span class="h6 fw-light mb-0 ms-2">29 Courses</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Card END -->
								
								<!-- Instructor info -->
								<h5 class="mb-3">About Instructor</h5>
								<p class="mb-3">Fulfilled direction use continual set him propriety continued. Saw met applauded favorite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashboard see frankness objection abilities. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed of add screened rendered six say his striking confined. </p>
								<p class="mb-3">As it so contrasted oh estimating instrument. Size like body someone had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted.</p>
								<!-- Email address -->
								<div class="col-12">
									<ul class="list-group list-group-borderless mb-0">
										<li class="list-group-item pb-0">Mail ID:<a href="#" class="ms-2">hello@email.com</a></li>
										<li class="list-group-item pb-0">Web:<a href="#" class="ms-2">https://eduport.com</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<div class="card shadow p-2 mb-4 z-index-9">
							<div class="overflow-hidden rounded-3">
								<img src="/assets/images/courses/@course.BannerId" class="card-img" alt="@course.BannerId">
							</div>
		
							<!-- Card body -->
							<div class="card-body px-3">
								<!-- Info -->
								<div class="d-flex justify-content-between align-items-center">
									<!-- Price and time -->
									<div>
										<div class="d-flex align-items-center">
											<h3 class="fw-bold mb-0 me-2">@course.CostInUzs so'm</h3>
											<span class="badge bg-orange text-white mb-0">-10%</span>
										</div>
									</div>

									<!-- Share button with dropdown -->
									<div class="dropdown">
										<!-- Share button -->
										<a href="#" class="btn btn-sm btn-light rounded small" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fas fa-fw fa-share-alt"></i>
										</a>
										<!-- dropdown button -->
										<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
											<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
											<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
											<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
											<li><a class="dropdown-item" href="#"><i class="fas fa-copy me-2"></i>Copy link</a></li>
										</ul>
									</div>
								</div>

								<!-- Buttons -->
								<div class="mt-3 d-sm-flex justify-content-sm-between">
									<a href="#" class="btn btn-outline-primary mb-0">Online o'qish</a>
									<a href="#" class="btn btn-success mb-0">Ro'yxatdan o'tish</a>
								</div>
							</div>
						</div>
						<!-- Video END -->

						<!-- Course info START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h4 class="mb-3">Kurs o'z ichiga oladi:</h4>
							<ul class="list-group list-group-borderless">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Darslar soni</span>
									<span>30</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Davomiyligi</span>
									<span>4 soat 50 daqiqa</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal text-primary"></i>Daraja</span>
									<span>Boshlang'ich</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Til</span>
									<span>O'zbek</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Deadline</span>
									<span>Nov 30 2021</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal text-primary"></i>Sertifikat</span>
									<span>Ha</span>
								</li>
							</ul>
						</div>
						<!-- Course info END -->
					</div>

					
				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>

</main>

@code{
	[Parameter]
	public string CourseTitle { get; set; }
	[Inject]
    public HttpClient Http { get; set; }

	private Course course = new();

	protected override async Task OnInitializedAsync()
	{
		course = (await Http.GetFromJsonAsync<List<Course>>("data/courses.json"))
			.Where(c => c.Title==CourseTitle).FirstOrDefault();
	}
}