@page "/coursedetail/{CourseTitle}"
@using System.Globalization

<main>
<section class="bg-light py-0">
	<div class="container">
		<div class="row py-4">
			<div class="col-lg-8">
				<div class="col md-6">
				<h6 class="mb-3 font-base bg-primary text-white py-2 px-4 rounded-2 d-inline-block">@course.Tag</h6>
				@* <button class="btn btn-outline-primary mx-9 " onclick="history.back()">Go Back</button> *@
				</div>
				<!-- Title -->
				<h2>@course.Title</h2>
				
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page intro END -->
<!-- =======================
Page content START -->
<section class="pb-0 py-lg-5">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 py-3">
						<ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="false">Ma'lumot</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" @onclick="GetInstructor" id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-2" type="button" role="tab" aria-controls="course-pills-2" aria-selected="false">Instruktor</button>
							</li>
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false">Ro'yxatdan o'tish</button>
							</li>
							<!-- Tab item -->
							
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
								<!-- Course detail START -->
								
								<h5 class="mb-3">Kurs haqida</h5>
								<p class="mb-3"><strong>@course.Title</strong> kursiga xush kelibsiz!</p>
								<p class="mb-3">@course.Description</p>
								
								<!-- List content -->
								<h5 class="mt-4">Nimalarni o'rganasiz?</h5>
								<div class="row mb-3">
									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											@for(int i = 0; i <course.Themes.Count - course.Themes.Count/2; i++)
											{
												<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>@course.Themes[i]</li>
											}
										</ul>
									</div>

									<div class="col-md-6">
										<ul class="list-group list-group-borderless">
											@for(int i = course.Themes.Count - course.Themes.Count/2; i < course.Themes.Count; i++)
											{
												<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i> @course.Themes[i]</li>
											}
										</ul>
									</div>
								</div>

								<p class="mb-0">Bizga qo'shilishni istaysizmi? Unday bo'lsa <strong>@course.Title</strong> kursi uchun hoziroq ro'yxatdan o'ting va biz bilan yuqori marralarni zabt eting!</p>
								<!-- Course detail END -->

							</div>
							
							<!-- Content START -->
							<div class="tab-pane fade mx-4" id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
								<!-- Card START -->
								<div class="card mb-0 ">
									<div class="row g-0 align-items-center">
										<div class="col-md-5 mb-4">
											<!-- Image -->
											<img src="/assets/images/avatar/@instructor.BannerId" class="img-fluid rounded-3" alt="instructor-image" style="height:7cm; width:7cm;">
										</div>
										<div class="col-md-7 mb-4">
											<!-- Card body -->
											<div class="card-body ">
												<!-- Title -->
												<h3 class="card-title mb-0 ">@instructor.InstructorName</h3>
												<p class="mb-2">@instructor.MentorWorkPlace</p>
												<!-- Social button -->
												<ul class="list-inline mb-3">
													<li class="list-inline-item me-3">
														<a href="@instructor.TwitterUrl" class="fs-5 text-twitter"><i class="fab fa-twitter"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a href="@instructor.InstagramUrl" class="fs-5 text-instagram"><i class="fab fa-instagram"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a href="@instructor.FacebookUrl" class="fs-5 text-facebook"><i class="fab fa-facebook"></i></a>
													</li>
													<li class="list-inline-item me-3">
														<a href="@instructor.LinkedInUrl" class="fs-5 text-linkedin"><i class="fab fa-linkedin"></i></a>
													</li>
													<li class="list-inline-item">
														<a href="@instructor.TelegramUrl" class="fs-5 text-telegram"><i class="fab fa-telegram"></i></a>
													</li>
												</ul>

												<!-- Info -->
												<ul class="list-inline">
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></span>
															<span class="h6 fw-light mb-0 ms-2"><strong>@instructor.StudentCount</strong> bitiruvchilar</span>
														</div>
													</li>
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-warning bg-opacity-10 text-warning rounded-circle"><i class="fas fa-play"></i></span>
															<span class="h6 fw-light mb-0 ms-2"><strong>@coureCount</strong> Kurslar </span>
														</div>
													</li>
													<li class="list-inline-item">
														<div class="d-flex align-items-center me-3 mb-2">
															<span class="icon-md bg-warning bg-opacity-10 text-warning rounded-circle"><i class="fas fa-star"></i></span>
															<span class="h6 fw-light mb-0 ms-2"><strong>@instructor.Experience+</strong> yillik tajriba </span>
														</div>
													</li>
													@* <li class="list-inline-item">
														<div class="d-flex align-items-center mb-2">
															<span class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-trophy"></i></span>
															<span class="h6 fw-light mb-0 ms-2">Muvaffaqiyatli startaplar</span>
														</div>
													</li> *@
												</ul>
												<div class="d-flex align-items-center ">
													<span class="icon-md text-dark mb-0 bg-light rounded-3"><i class="fas fa-graduation-cap"></i></span>
													<div class="ms-3">
														<h6 class="mb-0">Sejong Universiteti</h6>
														<p class="mb-0 small">Axborot texnologiyalari</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Card END -->
								
								<!-- Instructor info -->
								@* <h5 class="">Instruktor haqida</h5>
								<p class="mb-3">@instructor.AboutInstructor</p> *@
							</div>
							<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<p class="fw-bold">Ro'yxatdan o'tganingizdan so'ng operatorlar siz bilan aloqaga chiqishadi.</p>
								<form class="row g-3 mt-0" name="register-form">
									<div class="col-md-6 bg-light-input">
										<label for="yourName" class="form-label">Ismingiz *</label>
										<input type="text" name="Name" class="form-control" id="yourName" required>
									</div>
									<div class="col-md-6 bg-light-input">
										<label for="mobileNumber" class="form-label">Telefon raqamingiz *</label>
										<input type="text" name="Phone" class="form-control" id="mobileNumber" required >
									</div>
									<div class="col-md-6 bg-light-input">
										<label for="message" class="form-label">Xabar *</label>
										<textarea type="text" name="Message" rows="4" class="form-control" id="message" required></textarea>
									</div>
									<input hidden name="Course" value="@course.Title">
									<div class="col-md-6 bg-light-input">
										<label for="CourseType" class="form-label">Kurs formati *</label>
										<select class="form-select" name="Format" id="CourseType" required>
											<option value="Offline">Offline</option>
											<option value="Online">Online</option>
										</select>
									</div>
									<div class="text-center">
										<button class="btn btn-lg btn-success mt-3 mb-0" onclick="Send_Data('https://script.google.com/macros/s/AKfycbyF1bPzTlnQSSEaoxM7Ozn63PIXqq3VIuhLc2OUraScI5qKtlzRARRpV0JUhzv8exdIJg/exec', 'register-form')" type="submit">Ro'yxatdan o'tish</button>
									</div>	
									<!-- State option -->
									<div class="mt-3" id="form_alerts"></div>
								</form>
							</div>
						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->
			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<div class="card shadow p-2 mb-4 ">
							<div class="overflow-hidden rounded-3">
								<img src="/assets/images/courses/@course.BannerId" class="card-img" alt="@course.BannerId">
							</div>
		
							<!-- Card body -->
							<div class="card-body px-3">
								<!-- Info -->
								@{
											var format = CultureInfo.CreateSpecificCulture("uz-Latn-Uz").NumberFormat;
											format.CurrencyPositivePattern = 3;
								}
								<div class="d-flex justify-content-between align-items-center">
									<div class="d-flex align-items-center">
										<span class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-chalkboard-teacher"></i></span><span class="fw-bold">&nbspOffline:</span>
										<h5 class="fw-bold mb-0 mx-4">@course.CostInUzs.ToString("C0", format)</h5>
									</div>
								</div>
								<div class="d-flex justify-content-between align-items-center mt-1">
									<div class="d-flex align-items-center">
										<span class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-globe"></i></span><span class="fw-bold">&nbspOnline:</span>
										<h5 class="fw-bold mb-0 mx-4">@course.OnlineCourseCost.ToString("C0", format)</h5><span class="badge bg-orange text-white mb-0">-@Discount%</span>
									</div>
								</div>
								
							</div>
						</div>

						<!-- Course info START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<ul class="list-group list-group-borderless">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Kurs davomiyligi</span>
									<span>@course.CourseDuration oy</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-calendar-week text-primary"></i> Haftadagi darslar soni</span>
									<span>@course.WeekDuration</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Dars davomiyligi </span>
									<span>@course.ClassDuration soat</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal text-primary"></i>Daraja</span>
									<span>@course.CourseLevel</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Til</span>
									<span>O'zbek</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Deadline</span>
									<span>@course.Deadline</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal text-primary"></i>Sertifikat</span>
									<span>Ha</span>
								</li>
							</ul>
						</div>
						<!-- Course info END -->
					</div>
				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->
		</div><!-- Row END -->
	</div>
</section>

</main>

@code{
	[Parameter]
	public string CourseTitle { get; set; }
	[Inject]
    public HttpClient Http { get; set; }
	private Course course = new(){Themes=new()};
	private Instructor instructor = new();
	private static byte Discount = 0;
	private static int coureCount = 0;
	protected override async Task OnInitializedAsync()
	{
		course = (await Http.GetFromJsonAsync<List<Course>>("data/courses.json"))
			.Where(c => c.Title==CourseTitle).FirstOrDefault();
		Discount = (byte)((1 - (double)course.OnlineCourseCost/(double)course.CostInUzs)*100);
		coureCount = (await Http.GetFromJsonAsync<List<Course>>("data/courses.json"))
			.Where(c => c.InstructorName == course.InstructorName).Count<Course>();
	}

	private async Task GetInstructor()
	{
		instructor = (await Http.GetFromJsonAsync<List<Instructor>>("data/instructors.json"))
			.Where(c => c.InstructorName == course.InstructorName).FirstOrDefault();
	}
}